* {
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    padding: 40px;
}

.slider {
    max-width: 50%;
    margin: 10px auto;
    overflow: hidden;
}

.slider-line {
    display: flex;
    transition: all ease 1s;
}

.button {
    text-align: center;
    max-width: 50%;
    margin: 10px auto;
    overflow: hidden;
}

.button-style {
    width: 50px;
    height: 20px;
    border: none;
    color: black;
    background-color: #c5c5c5ab;
    cursor: pointer;
    margin: 10px;
}

.button-style:hover {
    background-color: rgba(93, 93, 93, 0.67);
    font-size: 18px;
}


