* {
    margin: 0;
    padding: 0;
}

.slider {
    max-width: 50%;
    margin: 10px auto;
    overflow: hidden;
}

.slider-line {
    display: flex;
    transition: all ease 1s;
}

.button {

    max-width: 50%;
    margin: 10px auto;
    overflow: hidden;
}


